
/* Bastián Medina Gómez*/
#myDiv {
    width: 600px;
    height: 400px;
}

.image-button {
    width: 100px;
    height: 100px;
    background-image: url('pics/genesis.png');
    background-size: cover;
    border: none;
    cursor: pointer;
}