
/* Bastián Medina Gómez*/
#myDiv {
    width: 600px;
    height: 400px;
}

.image-button {
    border: 2px solid black; /* Change the color and thickness as needed */
    border-radius: 5px; /* Optional: for rounded corners */
    padding: 5px; /* Optional: add some space around the image */
    background-color: transparent; /* Optional: make the button background transparent */
    cursor: pointer; /* Change the cursor to a pointer when hovering */
}
.image-button img {
    display: block; /* Prevents extra space below the image */
}